
button {
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;

}


#btn-facebook{
    background-color: #3b5998;
}

#btn-google{
    background-color: tomato;
}
#btn-github{
    background-color: black;
}

.label {
    padding-left: 5px;
}